<!doctype html>
<html lang="en">
  <head>
   {% include head.html %}
  </head>
  <body>
   {% include header.html %}
   <div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
     <h1 class="m-5 p-5">About us page</h1>
        </div>
    </div>
    <div class="container mt-5 mb-5 ">
      <div class="card-deck">
        <div class="card">
          <img src="https://cdn3.vectorstock.com/i/thumb-large/16/87/flat-male-avatar-user-profile-icon-business-vector-4251687.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://cdn3.vectorstock.com/i/thumb-large/16/87/flat-male-avatar-user-profile-icon-business-vector-4251687.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://cdn3.vectorstock.com/i/thumb-large/16/87/flat-male-avatar-user-profile-icon-business-vector-4251687.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
</div>

   {% include footer.html %}


   {% include scripts.html %}
 
  </body>
</html>